<div id='phaser-game'></div>
<!-- <form class="game-form" id="coordinates" >
  <div class="form-group mar-b-0">
    <label for="xCoordinate" class="mar-b-0">X Coordinate</label>
    <input class="form-control" type="text" #xCoordinate id="xCoordinate" style="width: 110px;height: 30px;">
  </div>
  <div class="form-group mar-b-0">
    <label for="yCoordinate" class="mar-b-0">Y Coordinate</label>
    <input class="form-control " type="text" #yCoordinate id="yCoordinate" style="width: 110px;height: 30px;">
  </div>
</form>
<div class="send-button" style='position:absolute; top:300px;'>
  
  <textarea id='chat'></textarea>
  <div class="send" (click)="sendChatMessage(input.value)">
    <span style="background-color:white;">Send</span>
  </div>
  <input id="input" type="text" #input>
</div> -->