 body {
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    background-color: #232935;
    color: #92D5EE;
}

h1 {
    font-size: 64px;
    color: #D64C4C;
}

.loginLabel {
    font-size: 32px;
    color: #D64C4C;
}

.signinlinkbtn {
    margin: 5px;
    color: #92D5EE;
}

input {
    width: 33%;
    padding: 8px 10px;
    margin: 8px;
    box-sizing: border-box;
    background-color: #5A6889;
    color: #92D5EE;
    border: 2px solid #92D5EE;
    border-radius: 4px;
    outline: none;
}

.submit-btn {
    width: 33%;
    font-size: 20px;
    padding: 4px 12px;
    box-sizing: border-box;
    background-color: rgb(44, 53, 71);
    color: #92D5EE;
    border: 2px solid #92D5EE;
    border-radius: 4px;
}

::placeholder {
    color: #9EB7C1;
}